.recipe-route-container {
    position: relative;
    margin: auto;
    top: 4%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 65%;
    height: 70%;
    border-radius: 10px;
}

.recipe-route-container .close {
    position: absolute;
    top: 1vh;
    left: 2vh;
}

.recipe-route-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.recipe-route-container input[type=checkbox]:checked ~ .checkmark {
    background-color: #53c521;
}

.recipe-route-container input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

.recipe-route-container .checkmark:after {
    left: 0.7vw;
    top: 0.4vw;
    width: 0.4vw;
    height: 0.8vw;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}