.login-form {
    width: 60%;
    margin: 10% auto;
    text-align: left;
}

.login-form span, .login-form input, .login-form a {
    display: block;
    margin: 3%;
}

.login-form input[type=email], .login-form input[type=password] {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 2%;
    caret-color: #fff;
    color: #fff;
}

.login-form input[type=email]::selection, .login-form input[type=password]::selection {
    background: #fff;
}

.login-form .no-account-yet {
    margin-top: 25%;
    margin-bottom: 0;
}

.login-form input[type=submit] {
    background: #dcd7d7;
    color: black;
    border: 1px solid #666;
    padding: 1% 4%;
    border-radius: 6px;
}

.login-form input[type=submit]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
    box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
}

.login-form .register-button {
    margin: 0 3%;
    color: rgb(207, 203, 203);
    text-decoration: none;
}

.login-form .register-button:hover {
    text-decoration: underline;
}
