.register-form {
    width: 60%;
    margin: 10% auto;
    text-align: left;
}

.register-form label, .register-form input {
    display: block;
    margin: 3%;
}

.register-form input[type=email], .register-form input[type=password], .register-form input[type=text] {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 2%;
    caret-color: #fff;
    color: #fff;
}

.register-form input[type=email]::selection, .register-form input[type=password]::selection, .register-form input[type=text]::selection {
    background: #fff;
}

.register-form input[type=submit], .register-form input[type=button] {
    background: #dcd7d7;
    color: black;
    border: 1px solid #666;
    padding: 1% 4%;
    border-radius: 6px;
}

.register-form input[type=submit]:hover, .register-form input[type=button]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
    box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
}

.register-form input[type=submit] {
    float: right;
}

.register-form input[type=button] {
    float: left;
}

.register-form h4 {
    padding-left: 37%;
}