.main-page-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.main-page-container a {
    text-decoration: none;
    color: #fff;
}

.main-page-background {
    width: 100%;
    height: 78%;
    text-align: center;
    width: 100vw;
    position: absolute;
    height: 100vh;
}

.main-page-backdrop {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.main-page-container .title {
    margin: 0;
    font-size: 20vh;
}