.categories-container {
    position: relative;
    margin: auto;
    top: 1%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 65%;
    height: 70%;
    border-radius: 10px;
}

.categories-container .close {
    position: absolute;
    top: 1vh;
    left: 2vh;
}