.bottom-bar-container {
    width: 100%;
    height: 22%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.left-side, .right-side {
    width: 50%;
    height: 100%;
    float: left;
}