input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::selection {
    background: transparent;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html {
    overflow: hidden;
}