.main-page-background .title {
    height: 100%;
    width: 100%;
    line-height: 3.5;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    text-shadow: 0 0 5px #000;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 2px;
}
