.middle-column {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    grid-column: 2;
    color: #fff;
}

.middle-column .title {
    font-size: 20vh;
}

.middle-column .title, .subtitle {
    margin: 0;
    font-weight: normal;
}

.middle-column .subtitle {
    font-style: italic;
}