.left-side {
    padding: 1% 0;
}

.left-side .panel-element-container {
    margin: auto;
}

.left-side .slick-prev, .left-side .slick-prev:focus, .left-side .slick-prev:hover, .left-side .slick-next, .left-side .slick-next:focus, .left-side .slick-next:hover {
    height: 18vh;
    width: 2.4vw;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 1);
}

.left-side .slider-container {
    width: 85%;
    height: 100%;
    margin: auto;
}

.left-side .slick-prev {
    left: -2.6vw;
}

.left-side .slick-next {
    right: -2.6vw;
}

.left-side .slick-prev::before {
    content: '\2039';
}

.left-side .slick-next::before {
    content: '\203A';
}

.left-side .loader {
    width: 300px;
    margin: auto;
}

.left-side .loader svg {
    position: absolute;
    top: 0;
    height: 22vh;
}