.new-blog-post-container {
    position: relative;
    margin: auto;
    top: 1%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 65vw;
    height: 70vh;
    border-radius: 10px;
}

.new-blog-post-container .close {
    position: absolute;
    top: 1vh;
    left: 2vh;
}