.blog-post-item-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 85%;
    height: 27%;
    margin: 2% auto;
    padding: 2%;
    padding-bottom: 3%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
