.new-recipe-form {
    width: 90%;
    height: 85%;
    margin: auto;
    text-align: left;
    color: #fff;
    overflow: scroll;
}

.new-recipe-form .left-side, .new-recipe-form .right-side {
    width: 45%;
    margin: 0 1.4vw;
}

.new-recipe-form label, .new-recipe-form input, .new-recipe-form select {
    display: block;
    margin: 3%;
}

.new-recipe-form input[type=number], .new-recipe-form input[type=text], .new-recipe-form select {
    width: 96%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 2%;
    caret-color: #fff;
    color: #fff;
}

.new-recipe-form input[type=number]::selection, .new-recipe-form input[type=text]::selection {
    background: #fff;
}

.new-recipe-form input[type=submit], .new-recipe-form input[type=button] {
    background: #dcd7d7;
    color: black;
    border: 1px solid #666;
    padding: 1% 4%;
    border-radius: 6px;
}

.new-recipe-form input[type=submit]:hover, .new-recipe-form input[type=button]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
    box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
}

.new-recipe-form input[type=submit] {
    float: right;
}

.new-recipe-form input[type=button] {
    float: left;
}

.new-recipe-form h4 {
    padding-left: 37%;
}

.new-recipe-form .dropzone-container {
    width: 100%;
    height: 12vw;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}

.new-recipe-form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.new-recipe-form .instructions-ingredients {
    clear: both;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    display: flex;
}

.new-recipe-form .instructions-ingredients .instructions, .new-recipe-form .instructions-ingredients .ingredients {
    width: 50%;
    float: left;
    padding-bottom: 2%;
}

.new-recipe-form .instructions-ingredients .ingredients {
    border-right: #fff solid 1px;
    box-sizing: border-box;
}

.new-recipe-form .instructions-ingredients .ingredients .amount,
.new-recipe-form .instructions-ingredients .ingredients .unit {
    float: left;
    margin: 3% 1%;
}

.new-recipe-form .instructions-ingredients .ingredients .amount {
    width: 15%;
}

.new-recipe-form .instructions-ingredients .ingredients .unit {
    width: 15%;
}

.new-recipe-form .instructions-ingredients .ingredients .name {
    width: 40%;
    float: left;
    margin: 3% 1%;
}

.new-recipe-form .instructions-ingredients .ingredients .remove-ingredient {
    width: 1vw;
    height: 1.8vw;
    margin-right: 1vw;
}

.new-recipe-form .instructions-ingredients .ingredients .ingredient-container {
    margin-left: 2%;
    margin-bottom: 3%;
}

.new-recipe-form .instructions-ingredients .instructions .instruction {
    margin: 1% 0 1% 3%;
    float: left;
    width: 85%;
}

.new-recipe-form .right-side #CUISINE option, .new-recipe-form .left-side #COURSE option {
    background-color: black;
}

.new-recipe-form .instructions-ingredients .instructions .add-instruction input[type=submit],
.new-recipe-form .instructions-ingredients .ingredients .add-ingredient input[type=submit] {
    float: left;
}

.new-recipe-form .instructions-ingredients .instructions .add-instruction input[type=text] {
    width: 70%;
    float: left;
}