.profile-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 4vh;
    right: 2vw;
    height: 5vw;
    border-radius: 10px;
    padding: 0 1%;
}

.profile-name {
    font-size: 1.5vw;
    line-height: 2;
    border-bottom: 1px white solid;
    width: 100%;
    height: 60%;
    padding: auto 1%;
    text-align: center;
}

.profile-logout {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 1vw;
    line-height: 1.8;
}

.profile-logout:hover {
    cursor: pointer;
    text-decoration: underline;
}