.blog-container {
    position: relative;
    margin: auto;
    top: 1%;
    background-color: rgba(0, 0, 0, 0.8);
    width: 65%;
    height: 70%;
    border-radius: 10px;
}

.blog-container .close {
    position: absolute;
    top: 1vh;
    left: 2vh;
}

.blog-container .new-blog-post-button {
    position: absolute;
    bottom: 3vh;
    right: 2vw;
    background: #dcd7d7;
    color: black;
    border: 1px solid #666;
    padding: 1% 4%;
    border-radius: 6px;
}

.blog-container .new-blog-post-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
    box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
}
