.new-blog-post-form {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    text-align: left;
}

.new-blog-post-form label, .new-blog-post-form textarea, .new-blog-post-form input, .new-blog-post-form a {
    display: block;
    margin: 3%;
    color: #fff;
}

.new-blog-post-form input[type=text], .new-blog-post-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 2%;
    caret-color: #fff;
    color: #fff;
}

.new-blog-post-form input[type=text]::selection, .new-blog-post-form textarea::selection {
    background: #fff;
}

.new-blog-post-form input[type=submit] {
    background: #dcd7d7;
    color: black;
    border: 1px solid #666;
    padding: 1% 4%;
    border-radius: 6px;
    margin: auto;
}

.new-blog-post-form input[type=submit]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
    box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
}

.new-blog-post-form textarea {
    height: 65%;
    resize: none;
    width: 100%;
}

.new-blog-post-form .dropzone-container {
    width: 100%;
    height: 12vw;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
}

.new-blog-post-form .title-container, .new-blog-post-form .image-container {
    float: left;
    width: 40%;
    margin: auto 5%;
}

.new-blog-post-form .content-container {
    clear: both;
    height: 45%;
}