.panel-element-container {
    width: 9.9vw;
    height: 18vh;
    -webkit-transition: all linear 100ms;
    transition: all linear 100ms;
    border-radius: 7px;
    overflow: hidden;

    border: 1px solid black;
    box-sizing: border-box;
}

.panel-element-container:hover {
    -webkit-box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.panel-element-image {
    position: relative;
    height: 80%;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.7)
}

.panel-element-title {
    font-size: 2.5vh;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
